.search{
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.search-value{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.glass-search{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
