// Menu wrapper
.menu-list{
    width: 240px;
    
    .menu-item{
        margin-left: 0;
    }
    
}

.menu-popper{
    padding-bottom: 8px;

}    

.menu-item{
    justify-content: start;
    border-radius: 0;
    font-weight: 400;
    padding: 11px 16px;
    line-height: 1.8rem;
    width: 100%;
    &:hover{
        background: rgba(22, 24, 35, 0.03);
    }
}




